################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TextAnalysis/.vs/AITextAnalysis
/TextAnalysis/AITextAnalysis.Api/bin/Debug/net8.0
/TextAnalysis/AITextAnalysis.Api/obj
/TextAnalysis/AITextAnalysis.Application/bin/Debug/net8.0
/TextAnalysis/AITextAnalysis.Application/obj
/TextAnalysis/AITextAnalysis.UnitTests/obj
